/* ------------------------------------- import bootstrap variable definitions ------------------------------------- */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* ---------------------------------------------- variable overrides ---------------------------------------------- */

// colors
$theme-colors: (
  "primary":    #4444ff,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// text
$body-text-align:           center;

// table
$table-cell-vertical-align: middle;

// containers
$container-padding-x:       1em;
$container-padding-y:       1.25em;
$navbar-padding-x:          1em;
$navbar-padding-y:          0.4em;

// buttons
$btn-margin-y:              1em;




/* -------------------------------------- import bootstrap defaults & icons -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";


/* -------------------------------------------- import css overrides --------------------------------------------- */

@import "./cards";
@import "./datatable";

// for responsive footer
html, body,#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

#ensemble{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
@keyframes fade-in{

0%{
  opacity: 0

}
100%{
  opacity: 1
}
}