// see https://v4.mui.com/api/data-grid/data-grid/#css


.MuiDataGridContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.toolbarContainer {
  text-align: left;
  justify-content: left;
  border: none;
  padding: 0;
  margin: 0;
}

// data grid root element
.MuiDataGrid-root {
  padding: 0 0;
}

.MuiDataGrid-columnHeader {
  justify-content: center;
}

.MuiDataGrid-cell {
  text-align: center;
}

.MuiCheckbox {
  color: $mui-default-color;
}

// checkbox color in the datagrid
.MuiCheckbox-root.Mui-checked:not(.MuiCheckbox-indeterminate) svg{
  color: $mui-default-color
}

// row color when editing a cell
.MuiDataGrid-root .MuiDataGrid-row--editing .MuiDataGrid-cell {
    background-color: hsl(240, 100%, 93.5%) !important;
}

// cell color when editing a cell
.MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within {
  background-color: hsl(240, 100%, 90%) !important;
}

// action buttons
.actionButton {
  margin: 0.2em;
  padding: 0.2em 0.4em;
}

.withoutBorder {
  border: none;
}

// add padding to custom popover elements
.toolbarPopoverContainer {
  padding: 1em 1em;
  max-width: 30em;
  text-align: justify;
}

// override default bootstrap css for toolbar button to match mui data grid
.toolbarButton {
  color: $mui-default-color;
  text-transform: lowercase;
  font-variant: small-caps;
  outline: unset;
}

// add padding to bootstrap icons to match MUI
.toolbarButton i{
  padding-right: 0.5em;
}

.toolbarButton:hover {
  color: $mui-default-color;
  background-color: #f7f8fc;
}

.toolbarButton:active {
  color: $mui-default-color;
  background-color: #f7f8fc;
  box-shadow: unset;
}
